*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
}

.container {
  width: 100%;
  margin-left: 25%;
  margin-top: 10%;
}

.element {
  padding: 10px;
}

#category,
button {
  margin-left: 10px;
}

.removeBook {
  padding-left: 20px;
}

.delete-element {
  background-color: red;
  color: white;
  padding: 2px;
  border-radius: 5px;
  margin-left: 20px;
}

.heading_table {
  padding-left: 12px;
}

.filterCategories {
  margin-bottom: 10px;
  margin-left: 10px;
}

select {
  margin-left: 5px;
}
