*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa; 
}

/*---------------------------BOOK.JS STYLE--------------------------------------*/

.list_of_books {
  display: flex;
  justify-content: space-between;
  margin: 37px 100px 0;
  padding: 32px 147px 26px 27px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

/* Info Section */

.book_info {
  display: flex;
  flex-direction: column;
}

.book_info_header .book_info_category {
  width: 49px;
  height: 18px;
  margin: 0 39px 0 0;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.book_info_header .book_title {
  width: 197px;
  height: 29px;
  margin: 3px 3px 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.2px;
  color: #121212;
}

.book_info_header .book_author {
  width: 107px;
  height: 19px;
  margin: 4px 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
}

.book_info_footer {
  display: flex;
}

.book_info_footer p {
  margin: 21px 15px 2px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
  border-right: 1px solid #e0e0e0;
  padding-right: 15px;
  cursor: pointer;
}

.book_info_footer button {
  margin: 21px 15px 2px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 300;
  color: #4386bf;
  padding-right: 15px;
  cursor: pointer;
  background: none;
  border-style: none;
  border-right: 1px solid #e0e0e0;
}

.book_update p {
  margin: 10px 0 25px 0;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.4px;
}

.book_info_footer p:last-child {
  border: none;
}

/* Progress Section */

.book_progress {
  display: flex;
  align-items: center;
  margin: 0 -150px 0 0;
}

.rounded-border {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px #379cf6;
  border-width: 5px;
}

.book_progress-text {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 20px;
}

.book_progress-text h4 {
  font-size: 30px;
  margin: 0;
  font-weight: 400;
}

.book_progress-text span {
  font-size: 14px;
  color: #999a9c;
}

/* Update Section */

.book_update {
  border-left: 1px solid #e0e0e0;
  padding-left: 60px;
}

.book_update span {
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 300;
  color: #121212;
}

.book_update button {
  width: 165px;
  height: 33px;
  border-radius: 3px;
  background: #0290ff;
  color: #fff;
  border: none;
  cursor: pointer;
}
